@using CalorieTracker.Utils.HtmlHelpers

<div class="row">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                     @Html.ActionLink("CalorieTracker", "Index", "Dashboard", null, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("CalorieTracker", "Index", "Home", null, new { @class = "navbar-brand" })
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.MenuLink("Home", "Index", "Dashboard")</li>
                        <li>@Html.MenuLink("Log", "Index", "Log")</li>
                        <li>@Html.MenuLink("Foods", "Index", "Food")</li>
                        <li>@Html.MenuLink("Activities", "Index", "Activity")</li>
                        <li>@Html.MenuLink("Metrics", "Index", "Metric")</li>
                    }
                    else
                    {
                        <li>@Html.MenuLink("Home", "Index", "Home")</li>
                        <li>@Html.MenuLink("About", "About", "Home")</li>
                        <li>@Html.MenuLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.MenuLink("Dashboard", "Index", "Dashboard")</li>
                        <li>@Html.MenuLink("Signout", "Signout", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.MenuLink("Register", "Index", "Register")</li>
                        <li>@Html.MenuLink("Login", "Index", "Login")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>