@model IEnumerable<CalorieTracker.Models.Nutrient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SourceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecimalRounding)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SourceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecimalRounding)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NutrientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NutrientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NutrientID })
        </td>
    </tr>
}

</table>
