@model CalorieTracker.Models.Activity

@{
    ViewBag.Title = "Delete";
}
<div id="blue">
    <div class="centered">
        <h2>Delete '@Html.DisplayFor(model => model.Name)'</h2>
        <p>Are You Sure You Want To Delete This?</p>
    </div>
</div>
<div class="container">
    <div class="row centered">
        <div class="loginPanel">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CalorieBurnRate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CalorieBurnRate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImageUrl)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>