@model CalorieTracker.ViewModels.LogActivityModel
<h2>
    Log Activity</h2>
@using (Html.BeginForm("Activity", "Log"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbl_food_log</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.ActitivtyList)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedActivity, new SelectList(Model.ActitivtyList, "activity_id", "activity_name"))
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Time)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u => u.Time)
            @Html.ValidationMessageFor(u => u.Time)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Distance)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u => u.Distance)
            @Html.ValidationMessageFor(u => u.Distance)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Notes)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u => u.Notes)
            @Html.ValidationMessageFor(u => u.Notes)
        </div>
        @*TODO*@
        @*<div class="editor-label">
            @Html.LabelFor(m => m.File)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u => u.File)
            @Html.ValidationMessageFor(u => u.File)
        </div>*@
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}