@model CalorieTracker.ViewModels.DashboardUserMetricModel
<div class="dashboardInfoUserInfoRight">
    <h2>@Model.User.user_first_name @Model.User.user_second_name</h2>
    @if (Model.UserInformationList.Count != 0)
    {
        <ul>
            @*User Info*@
            @foreach (var item in Model.UserInformationList)
            {
                <li>
                    @Html.DisplayFor(modelItem => item.tbl_user_metric.user_metric_name): </li>
                <li>
                    @Html.DisplayFor(modelItem => item.user_metric_log_value)
                    @Html.DisplayFor(modelItem => item.tbl_user_metric.metric_types)
                </li>
            }
        </ul>
    }
    else
    {
        @Html.ActionLink("Record Your First Metrics", "Index", "Log")
    }
</div>
<img src="@Model.User.user_profile_image" alt="Profile Image" />