@model CalorieTracker.Collections.DashboardHistoryList
@{
    ViewBag.Title = "History";
}
<div class="dashboardHistoryPanel">
    <h2>
        History</h2>
    <div class="buttonPanel">
        @Html.ActionLink("View All", "History", "Log")
    </div>
    @foreach (var item in Model.HistoryList)
    {
        <h2>@item.Key.ToString("dd/MM/yyyy")</h2>
        foreach (var subItem in item.Value)
        {
            if (subItem.FoodLog != null) //Food
            {
                @Html.Partial("../Shared/Cards/_FoodCard", subItem.FoodLog)
            }
            else if (subItem.ActivityLog != null) //Activity
            {
                @Html.Partial("../Shared/Cards/_ActivityCard", subItem.ActivityLog)
            }
            else if (subItem.UserInformation != null) //User Informationn
            {
                @Html.Partial("../Shared/Cards/_UserInformationCard", subItem.UserInformation)
            }
        }
    }
</div>
