@model CalorieTracker.Models.Metric

@{
    ViewBag.Title = "Details";
}
<div id="blue">
    <div class="centered">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <p>-</p>
    </div>
</div>
<div class="container">
    <div class="row centered">
        <div class="loginPanel">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.MetricID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>