@model CalorieTracker.Models.Accounts.UserContext.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login123    </legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.user_email_address)
            </div>
            <div class="editor-field">  
                @Html.TextBoxFor(u => u.user_email_address)
                @Html.ValidationMessageFor(u => u.user_email_address)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.user_password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.user_password)
                @Html.ValidationMessageFor(u => u.user_password)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(u => u.user_remember_me)
                @Html.LabelFor(u => u.user_remember_me)
            </div>
            <input type="submit" value="Log In" />
        </fieldset>
    </div>
}