@model CalorieTracker.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.user_id)

        <div class="form-group">
            @Html.LabelFor(model => model.user_dob, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_dob)
                @Html.ValidationMessageFor(model => model.user_dob)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_gender)
                @Html.ValidationMessageFor(model => model.user_gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_password_hash, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_password_hash)
                @Html.ValidationMessageFor(model => model.user_password_hash)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_password_salt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_password_salt)
                @Html.ValidationMessageFor(model => model.user_password_salt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_admin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_admin)
                @Html.ValidationMessageFor(model => model.user_admin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_creation_timestamp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_creation_timestamp)
                @Html.ValidationMessageFor(model => model.user_creation_timestamp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_activity_level_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_activity_level_type)
                @Html.ValidationMessageFor(model => model.user_activity_level_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_personality_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_personality_type)
                @Html.ValidationMessageFor(model => model.user_personality_type)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
