@model CalorieTracker.Models.FoodLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FoodLog</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PasswordHash)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FoodLogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
