@model IEnumerable<CalorieTracker.Models.FoodLog>

@{
    ViewBag.Title = "Index";
}

<div id="blue">
    <div class="centered">
        <h2>Foods Log</h2>
        <p>Have A Look Through All Your Food Logs</p>
    </div>
</div>

<div class="foodList container">
    <div class="row centered">
        <div class="redButton col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5">
            <p>@Html.ActionLink("Create New", "Create")</p>
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Food.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Food.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.FoodLogID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.FoodLogID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.FoodLogID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>