@model CalorieTracker.Models.Food

@{
    ViewBag.Title = "Details";
}
<div id="blue">
    <div class="centered">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <p>Description: @Html.DisplayFor(model => model.Description)</p>
    </div>
</div>
<div class="container">
    <div class="row centered">
        <div class="loginPanel">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ManufactureName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ManufactureName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FoodGroup.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FoodGroup.Name)
                </dd>
            </dl>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h3>Nutrient Info</h3>
                <table class="table nutrientInfo">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>

                    @foreach (var nutrient in Model.FoodNutritionLogs.OrderBy(item => item.Nutrient.Name))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(item => nutrient.Nutrient.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(item => nutrient.Value)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <p>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Edit", "Edit", new {id = Model.FoodID}) 
                @:|
            }
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>