@using CalorieTracker.Models
@using PagedList.Mvc
@model PagedList.IPagedList<CalorieTracker.Models.Food>


@{
    ViewBag.Title = "Index";
}

<div id="blue">
    <div class="centered">
        <h2>All Foods</h2>
        <p>Have A Look Through All The Foods On Record</p>
    </div>
</div>

<div class="foodList container">
    <div class="row centered">
        <div class="redButton col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5">
            <p>@Html.ActionLink("Create New", "Create")</p>
        </div>
        <div style="clear: both; height:1px;"></div>
        <div class="row centered">
            @using (Html.BeginForm("Index", "Activity", FormMethod.Get))
            {
                <p>
                    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
            }
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescSortParm })
                </th>
                <th>
                    @Html.ActionLink("Food Group", "Index", new { sortOrder = ViewBag.FoodGroupSortParm })
                </th>
                <th></th>
            </tr>

            @foreach (Food item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(Html.DisplayFor(modelItem => item.Name).ToHtmlString(), "Details", new { id = item.FoodID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoodGroup.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.FoodID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.FoodID })
                    </td>
                </tr>
            }

        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>


