@model IEnumerable<Calorie_Tracker.DAL.tbl_user>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            user_id
        </th>
        <th>
            user_email
        </th>
        <th>
            user_first_name
        </th>
        <th>
            user_second_name
        </th>
        <th>
            user_dob
        </th>
        <th>
            user_password_salt
        </th>
        <th>
            user_creation_date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_second_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_password_salt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_creation_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
