@model IEnumerable<CalorieTracker.Models.MetricLog>

@{
    ViewBag.Title = "Index";
}
<div id="blue">
    <div class="centered">
        <h2>Metric Logs</h2>
        <p>Have A Look Through All Your Metric Logs</p>
    </div>
</div>

<div class="foodList container">
    <div class="row centered">
        <div class="redButton col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5">
            <p>@Html.ActionLink("Create New", "Create")</p>
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Metric.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Metric.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MetricLogID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MetricLogID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MetricLogID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>