@model CalorieTracker.Models.ViewModels.UserNutrientRDAModel
<!-- Chart -->

    <p><b>@Model.UserNutrientRDA.Nutrient.Name</b></p>
    <canvas id="canvas-@Model.UserNutrientRDA.NutrientID" height="130" width="130"></canvas>
    <br>
    @Model.UserNutrientRDAValue g / @Model.MaxNutrientRDAValue g
    <script>
        var nutrientValue = @(Model.UserNutrientRDAPercentage) +0;
        var remainingValue = 100 - nutrientValue;
        var doughnutData;
        if (remainingValue >= 0) {
            doughnutData = [
                {
                    value: nutrientValue,
                    color: "#3498db"
                },
                {
                    value: 100 - nutrientValue,
                    color: "#f85c37"
                }];
        } 
        else {
            doughnutData = [
                {
                    value: remainingValue * -1,
                    color: "#1abc9c"
                },
                {
                    value: nutrientValue,
                    color: "#3498db"
                }];
        }

        
        var myDoughnut = new Chart(document.getElementById("canvas-@Model.UserNutrientRDA.NutrientID").getContext("2d")).Doughnut(doughnutData);
    </script>
    
<p><small>Recommended Daily RDA = @Math.Floor(Model.UserNutrientRDA.Value) g</small></p>
@Html.ActionLink("View Info", "Details", "Nutrient", new { id =  Model.UserNutrientRDA.NutrientID }, null)