@model CalorieTracker.Models.User

<div class="dashboardUserPanel">
    <h3 class="section-title">Recent History</h3>
    <div class="container">
        @if (@Model.FoodLogs.Count == 0)
        {
            <span></span>
            @Html.ActionLink("Please Your First Log", "Index", "Log")
        }
        else
        {
            <ul>
                @foreach (var item in @Model.FoodLogs)
                {
                    <li>
                        <ul>
                            <li>
                                <b>Date: @item.CreationTimestamp.ToString("dd:MM:yyyy hh:mm")</b>
                            </li>
                            <li>
                                Name: @item.Food.Name
                            </li>
                            <li>
                                Amount: @item.Quantity
                            </li>
                            
                        </ul>
                    </li>
                }
            </ul>
        }
    </div>
</div>