@model CalorieTracker.Models.User

<div class="dashboardUserPanel">
    <h3 class="section-title">Recent History</h3>
    <div class="reverseShelf">
        @if (@Model.UserFoodLogs.Count == 0)
        {
            <span></span>
            @Html.ActionLink("Please Your First Log", "Index", "Log")
        }
        else
        {
            <ul>
                @for (int i = 0; i < @Model.UserFoodLogs.Count; i++)
                {
                    <li>
                        <ul>
                            <li>
                                <b>Date: @Model.UserFoodLogs.ElementAt(i).CreationTimestamp.ToString("dd:MM:yyyy hh:mm")</b>
                            </li>
                            <li>
                                Name: @Model.UserFoodLogs.ElementAt(i).Food.Name
                            </li>
                            <li>
                                Amount: @Model.UserFoodLogs.ElementAt(i).Quantity
                            </li>
                        </ul>
                    </li>
                    if (i == 5)
                    {
                        break;
                    }
                }
            </ul>
        }
    </div>
</div>