@using Microsoft.Ajax.Utilities
@model CalorieTracker.Models.User

<div class="dashboardHistoryPanel">
    <h3 class="section-title">Recent History</h3>
    <div class="dashboardUserInfo">
        @if (@Model.UserFoodLogs.Count == 0)
        {
            <div class="redButton col-sm-6 col-sm-offset-3">
                @Html.ActionLink("Please Your First Log", "Index", "Log")
            </div>
        }
        else
        {
            foreach (var item in @Model.UserFoodLogs.OrderByDescending(item => item.CreationTimestamp).Take(3))
            {
                
                <ul>
                    <li>
                        <b>Date: @item.CreationTimestamp.ToString("dd:MM:yyyy hh:mm")</b>
                    </li>
                    <li>
                        Name: @item.Food.Name
                    </li>
                    <li>
                        Amount: @item.Quantity
                    </li>
                </ul>
            }
        }
        <div class="redButton col-sm-4 col-sm-offset-4">
            @Html.ActionLink("Update Info", "Edit", "Account")
        </div>
        <div style="clear:both; height: 1px;"></div>
    </div>
</div>