@model CalorieTracker.Models.ActivityLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityLog</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeartRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeartRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PasswordHash)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityLogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
